<div class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-5" (click)="goToPage('mood')">
                <img src="../../assets/mood.jpeg" height="300px">
                <h6>Select on mood</h6>
            </div>
            <div class="col-2"></div>
            <div class="col-5" (click)="goToPage('budget')">
                <img src="../../assets/budget.webp" height="300px">
                <h6>Select on budget</h6>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-5" (click)="goToPage('destination')">
                <img src="../../assets/destination.jpeg" height="300px" width="600px">
                <h6>Select on destination</h6>
            </div>
            <div class="col-2"></div>
            <div class="col-5" (click)="goToPage('activity')">
                <img src="../../assets/activity.jpeg" height="300px">
                <h6>Select on activity</h6>
            </div>
        </div>
    </div>
</div>